* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 80px 0;
}

h1 {
    font-size: 36px;
    color: white;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    font-size: 18px;
    background-color: #4E4E4E;
    color: white;
}

.h1-dark {
    margin-bottom: 58px;
    color: #152D41;
    width: 100%;
}

h2 {
    font-size: 18px;
    color: white;
}

.nav h1 {
    font-weight: bold;
    font-size: 18px;
    width: 18%;
}

nav .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.landing-page {
    height: calc(100vh + 50px);
    background-image: url(../img/akita.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 100%;
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

.landing-page-text {
    width: 60%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-page-text h1 {
    font-weight: bold;
}

.landing-page-btn {
    width: 160px;
    height: 40px;
    background: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: 3px solid #FFFFFF;
    transition: 1s;
}

.landing-page-btn:hover {
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
}

.about-dog-img {
    width: 199px;
    height: 199px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 50px;
}

.about-dog-img--first {
    background-image: url(../img/akita2.jpg);
}

.about-dog-img--second {
    background-image: url(../img/akita3.jpg);
}

.about-dog-img--third {
    background-image: url(../img/akita4.jpg);
}

.about-dog {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.about-dog:last-of-type {
    margin-bottom: 0;
}

.about .container {
    flex-direction: column;
}

.about-dog-text {
    padding-top: 35px;
    padding-left: 25px;
    min-width: 30%;
}

.about h2 {
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
    min-width: 10%;
}

.offer {
    background-color: #405D78;
}

.offer .container {
    position: relative;
}

.offer h1 {
    color: white;
    margin-bottom: 80px;
    text-align: center;
}

.offer-box-wrapper {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.offer-box {
    position: relative;
    width: 31%;
    padding-bottom: 31%;
    margin-bottom: 3.5%;
    background-color: white;
    transition: 0.5s;
}

.offer-box-content {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.offer .container i {
    position: absolute;
    z-index: 1;
    top: -7px;
    left: 110px;
    color: #E07A64;
}

.offer-box:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #4E4E4E;
    padding: 0;
    height: 71px;
    width: 100%;
}

.footer-icons {
    display: flex;
    height: 50%;
    min-width: 60px;
    justify-content: space-between;
    align-items: center;
}

.footer-icons i {
    font-size: 25px;
    color: white;
}

.landing-page-text h1,h2,button {
    margin: 0;
}

@media (min-width: 320px) {

    .h1-dark {
        float: none;
        text-align: center;
    }
    .nav h1 {
        padding-left: 40px;
        white-space: nowrap;
    }
    .landing-page-text {
        padding-left: 40px;
    }

    .landing-page-text h1,h2,button {
        margin: 10px 0;
    }
    .about-dog:nth-of-type(even) {
        flex-direction: column;
        text-align: justify;
    }
    .nav-links {
        display: none;
    }
    .about-dog {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about .container {
        align-items: center;
    }
    .offer-box-wrapper {
        align-items: center;
    }
    .offer-box:nth-of-type(3n) {
        margin-right: 0px;
    }

    .offer .container i {
        display: none;
    }
    .footer .container {
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
    }
}

@media (min-width: 1400px) {

    .container {
        width: 960px;
        margin: 0 auto;
    }
    .h1-dark {
        float: left;
        text-align: initial;
    }
    .about-dog:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }
    .about-dog:nth-of-type(even) .about-dog-img {
        margin-right: 0;
        margin-left: 50px;
    }
    .about .container {
        flex-direction: column;
        align-items: left;
    }
    .about-dog {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .container {
        width: 960px;
        margin: 0 auto;
    }
    .nav-links {
        display: initial;
        min-width: 32%;
    }
    .nav-contact-anchor {
        cursor: not-allowed;
    }
    nav .container a {
        color: white;
        text-decoration: none;
        margin-left: 50px;
    }
    .offer-box-wrapper {
        flex-direction: row;
    }
    .offer-box {
        margin-right: 3.5%;
    }

    .offer .container i {
        display: initial;
    }
    .footer .container {
        flex-direction: row;
    }
}